# Minecraft server properties
# written 23-Dec-2022, Ben Melikant
# Written via j2 template
spawn-protection=16
max-tick-time=60000
query.port={{ mc_server_port | default('25565') }}
generator-settings={}
sync-chunk-writes=true
force-gamemode=false
allow-nether=true
enforce-whitelist=false
gamemode={{ mc_game_mode | default('0') }}
broadcast-console-to-ops=true
enable-query=false
text-filtering-config=
player-idle-timeout=0
difficulty={{ mc_difficulty | default('1') }}
spawn-monsters=true
broadcast-rcon-to-ops=true
op-permission-level=4
simulation-distance=10
max-chained-neighbor-updates=1000000
pvp={{ mc_pvp_active | default('true') }}
snooper-enabled=true
entity-broadcast-range-percentage=100
level-type={{ mc_level_type | default('minecraft\:normal') }}
hardcore=false
resource-pack-prompt=
enable-status=true
enable-command-block={{ mc_enable_cmd_block | default('false') }}
max-players=20
network-compression-threshold=256
max-world-size=29999984
resource-pack-sha1=
function-permission-level=2
rcon.port=25575
server-port={{ mc_server_port | default('25565') }}
initial-disabled-packs=
initial-enabled-packs=vanilla
server-ip=
spawn-npcs=true
require-resource-pack=false
allow-flight=false
level-name={{ mc_world_name | default('Minecraft-World') }}
view-distance=10
resource-pack=
spawn-animals=true
white-list=false
rcon.password={{ mc_password | default('') }}
generate-structures=true
max-build-height=256
enforce-secure-profile=true
online-mode={{ mc_online_mode | default('true') }}
level-seed={{ mc_level_seed | default('') }}
prevent-proxy-connections=false
use-native-transport=true
enable-jmx-monitoring=false
hide-online-players=false
rate-limit=0
motd={{ mc_motd | default('Welcome to Minecraft!') }}
enable-rcon=false
